{% extends 'base.html' %}
{% load url from future %}

{% block login-box %}
{% if user.is_authenticated %}
<div class="navbar-text span4 pull-right">
	Welcome, {{user.username}}. <a href="{% url 'logout' %}">Logout</a>
</div>
{% else %}
<div class="pull-right span6">
	<form class="navbar-form form-horizontal" action="{% url 'login' %}" method="POST">
		{% csrf_token %}
		<input class="span2" type="text" placeholder="Username" name="username">
		<input class="span2" type="password" placeholder="Password" name="password">
		<input type="hidden" name="next" value="." />
		<button type="submit" class="btn btn-primary">Sign in</button>
		<a class="" href="{% url 'register' %}"> Register </a>
	</form>
</div>
{% endif %}
{% endblock %}
