{% extends "base_login.html" %}

{% block login-box %}
{% endblock %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
	  <div class="span12 pagination-centered">
		{% if user.is_authenticated %}
		<h1>
			Thanks for logging in, {{user.username}}!
		</h1>
		{% else %}
		<form class="" action="/register/" method="POST">
		  	{% csrf_token %}
			<input class="span2" type="text" placeholder="Username" name="username">
			<input class="span2" type="password" placeholder="Password" name="password">
			<input class="span2" type="password" placeholder="Confirm Password" name="conf-password">
			<input type="hidden" name="next" value="." />
			<button type="submit" class="btn">Sign up</button>
		</form>
		{% endif %}
      </div>
{% endblock %}
